<h2><%= displayName %>'s cart </h2>

<div class="container px-1">
    <div class="row gx-2">
    <% allItems.forEach(item => { %>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="<%= item.imgUrl %>" alt="<%= item.type %>">
                <div class="card-body">
                    <h5 class="card-title"><%= item.brand %> <%= item.type %></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="size">size: <%= item.size %></li>
                    <li class="list-group-item" id="price">$<%= item.price %></li>
                </ul>
                <div class="card-body">
                    <form action="/items/<%= item.id %>" method="GET">
                        <input type="number" value="<%= item.id %>" style="display: none;" name="itemId">
                        <input type="submit" class="btn btn-primary" value="View"> 
                    </form>
                    <form action="/user/cart/<%= displayName %>/?_method=PUT" method="POST">
                        <input type="number" value="<%= item.id %>" style="display: none;" name="itemId">
                        <input type="submit" class="btn btn-primary" value="Remove From Cart"> 
                    </form>
                </div>
            </div>
        </div>
    <% }) %> 
    </div>
</div>



