<h2><%= displayName %>'s store </h2>



<div class="container px-1">
    <div class="row gx-2">
    <% allItems.forEach(item => { %>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="cardImage" src="<%= item.imgUrl %>" alt="<%= item.type %>">
                <div class="card-body">
                    <h5 class="card-title"><%= item.brand %> <%= item.type %></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="size">size: <%= item.size %></li>
                    <li class="list-group-item" id="price">$<%= item.price %></li>
                </ul>
                <div class="card-body">
                    <form action="/items/<%= item.id %>/?_method=DELETE" method=POST>
                        <input type="submit" class="btn btn-primary" value="Delete Item">    
                    </form>
                    <form action="/items/edit/<%= item.id %>" method=GET>
                        <input type="submit" class="btn btn-primary" value="Edit Item">    
                    </form>
                </div>
            </div>
        </div>
    <% }) %> 
    </div>
</div>






