<h2>edit</h2>
<!-- form for updating an item -->
<form class="form-floating" id="editForm" action="/items/<%= item.id %>/?_method=PUT" method="POST">
    <!-- <label for="imgRoute">New Image?</label>
    <input type="file" name="myFile"> -->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingType" placeholder="e.g. blouse, trousers etc."  name="type" value=<%= item.type %>>
        <label for="floatingType">Garment Type</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingSize" placeholder="e.g. XL, 14"  name="size" value=<%= item.size %>>
        <label for="floatingSize">Size</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingBrand" placeholder="brand"  name="brand" value=<%= item.brand %>>
        <label for="floatingBrand">Brand</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" min="0" step=".05" class="form-control" id="floatingPrice" placeholder="00.00"  name="price" value=<%= item.price%>>
        <label for="floatingPrice">Price</label>
    </div>
    <!-- <input type="number" id="itemId" value="<%= item.id %>" style="visibility: hidden;" name="id"> -->

    <input type="submit" class="btn btn-primary" value="update item">
</form> 

<div class="imgFrame">
    <img class="soloImg" src=<%= item.imgUrl %> alt="<%=item.brand%> <%=item.type%>">
</div>

